html,
body {
    overflow: auto;
    overflow-x: hidden;
    background-color: #d4d5bc;
    height: 1716px;
}

nav {
    position: absolute;
    width: 2446px;
    height: 200px;
    left: 0px;
    top: -41px;
    background: #3f3d55;
}

.button {
    width: 150px;
    height: 40px;
    position: absolute;
    border-radius: 10px;
    background-color: #D65C3A;
}

.button>p {
    font-family: 'Montserrat';
    top: 100px;
    text-align: center;
    color: white
}

div:hover {
    background-color: #EC864B;
}

#button3place {
    left: 1310px;
    top: 108px;
}

#button4place {
    left: 1110px;
    top: 108px;
}

#button5place {
    left: 1110px;
    top: 1108px;
}

#logo {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 07px;
    top: 20px;
}

#logotext {
    position: absolute;
    width: 266px;
    height: 55px;
    left: 209px;
    top: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 55px;
    color: #A89696;
}

.fade-in {
    animation: fadeIn 4s
}

@keyframes fadeIn {
    from {
        opacity: -3;
    }


    to {
        opacity: 3;
    }

}

#newsletter {
    position: absolute;
    top: 292px;
    left: 648px;
    color: #A89696;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 58px;
}

#news {
    position: absolute;
    width: 1008px;
    height: 1009px;
    left: 262px;
    top: 499px;
}

#footer {
    position: absolute;
    width: 1920px;
    height: 176px;
    left: 0px;
    top: 1690px;
    background: #3f3d55;
}

#follow {
    position: absolute;
    width: 122px;
    height: 61px;
    left: 1096px;
    top: 81px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 70px;
    color: #A89696;
}

#footertext {
    position: absolute;
    width: 922px;
    height: 61px;
    left: 400px;
    top: 81px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    color: #A89696;
}